@media (min-width: 768px) and (max-width: 1023px) {
}

 @media (min-width: 1024px) {

 }

 .redesSociales{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorRedes{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.redes{
    margin-left: 30px;
}
.correoTelefono{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    margin-right: 25px;
}

