@media (min-width: 768px) and (max-width: 1023px) {
}

 @media (min-width: 1024px) {
}
.redesSociales{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorRedes{
    margin-top: -400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.redes{
    margin-left: 30px;
}
.correoTelefono{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    margin-right: 25px;
}
.navbar{
    width: 1600px;
    margin-top: -11px;
}
.logo{
    margin-left: 20px;
    border-radius: 150px;
    width: 150px;
    height: 150px;
    background-color: transparent ;
    opacity: 0.7;
}





















